<div class="list-group">  
  <% @requests.each do |request| %>
    <%= link_to request , style:"color:#797a7b" do %>
      <div class="row list-group-item" style="background:#fafafa">
        <div class="col-md-1">
          <i class="glyphicon glyphicon-chevron-up"></i><br>
          <strong><%= request.votes_for.size %></strong>
        </div>
        <div class="col-md-10">
          <div class="row">
            <h4><%= request.title %></h4>
          </div>
          <div class="row">
            <%= truncate request.description, length: 250 %>
          </div>
        </div>    
        <div class="col-md-1">
          <% if request.comments.count > 0 %>
            <%= request.comments.count %>
            <i class="glyphicon glyphicon-comment"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>