<div class="row" style="border: 1px #dedede solid; padding:3em; background-color:#fafafa">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-9">
        <h4><%= request.title %></h4>
      </div>
      <div class="col-md-3">
        <%= localize request.created_at, format: :long %> &bull;
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class='request_content' style="background-color:#fff; padding:1em">
      <% if action_name == 'show' %>
        <%= simple_format request.description %>  
      <% end %>
    </div>
  </div>
</div >
<br></br>
<div class="row">
  <div class="col-md-12" style="border: 1px #dedede solid; padding:2em; background-color:#fafafa">
    <h4>Comentarios</h5>                     
    <%= render "comments/form", comment: @request.comments.build %>  
    <br>
    <div id="comments" class="row">
        <%= render partial: "comments/comment", collection: @request.comments.where(parent_id: nil).order('created_at DESC'), as: :comment %>
    </div>
  </div>
</div>