<div class="row" style="border: 1px #dedede solid; padding:30px 50px 30px 50px; background-color:#fafafa">
    <div class="col-md-12">
        <%= render partial: "form" %>
    </div>
</div>
<br>
<%= tinymce_assets %>
<div class="row">
    <div class="col-md-12">
        <h3 style="border-bottom: 1px solid #dedede;">Requerimientos</h3>
        <%= form_for("", url: search_requests_path, method:'get', remote: true, html: { id: 'requests_search', role: 'form'} ) do |f| %> 
          <div class="row">
            <div class="col-md-4"></div>
            <div align="right" class="col-md-2">Ordenar Por:</div>
            <div class="col-md-3">
              <%= select_tag :order_by, options_for_select([['Votos', 0],['Alfabético',1]]), class:'form-control' %>
            </div>
            <div class="col-md-3">
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <%= text_field_tag :search, params[:search], class:"form-control", placeholder:"Buscar solicitudes..."%>
              </div>              
            </div>
          </div>
        <% end %> 
        <br>
        <div class="row">
            <div id="list-requests" class="col-md-12">            
                <%= render partial: "requests" %>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

</style>