<!DOCTYPE html>
<html>
  <head>
    <title>RankmiTest</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div id="flash">
        <%# unless flash.empty? %>
           <%= render partial: "shared/flash_messages" %>
        <%# end %>
     </div>
      <%= yield %>
    </div>
    <%= javascript_include_tag params[:controller] %>
  </body>
</html>